.md-editor-wrapper {
  .wmde-markdown {
    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }
  }

  .w-md-editor-bar {
    height: 11px;
    width: 100%;
    cursor: row-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    background-color: #37414b;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;

    svg {
      display: none;
    }
  }
}

.md-editor-wrapper--finished {
  .wmde-markdown {
    background-color: #282f2f;
  }
}
